
/* resetando o style */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}

html, body{
    min-height: 100%;
}

/* HEADER */
header{
    background-color: #B42828;
}

header nav{
    height: 100px;
}

header img{
    width: 127px;
    height: 54px;
}
.icon i, a, a:hover{
    color: white;
}
/* FIM DO HEADER */

/* MAIN */

.btn{
    background-color: #B42828;
}

/* Botão de voltar */
.return-div{
    margin: 15px 155px;
}

.return-div02{
    margin: 15px 105px;
}

.return-div03{
    margin: 15px 144px;
}

.return-button, .return-button:hover{
    color: #B42828;
    font-size: 16px;
    text-decoration: none;
}

.icon-return{
    color: #B42828;   
}
/* Fim do botão de voltar */

.row-index, .row-student{ /* Página do index e aluno*/
    display: flex;
    flex-direction: row;
}


.row-student{ /*row do aluno*/
    justify-content: space-evenly;
    margin-top: 100px;
}

.row-index{ /* row do index */
    justify-content: space-between;
    margin-top: 130px;
}

.h5-register{
    margin: 15px 0 15px 295px;
}

/* Cadastro do aluno */
.register-student-div{ 
    /* left: 50px;
    width: 1000px; */
    width: 520px;
    display: flex;
    flex-direction: column;
    /* margin: 20px 0 0 250px ; */
    margin: 0 auto;
}

.principal-choose-subject{
    border: 1px solid lightgrey;
    border-radius: 20px;
    max-width: 400px;
    max-height: 250px;
    left: 70px;
}

.search-words-div, .principal-choose-subject p{
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.group-choose-subject{
    left: 80px;
}

.register-student-button{
    margin-top: 20px;
}

#search{
    width: 260px;
    font-size: 12px;
}

#searchButton{
    color: white;
}

.h5-register-student02{
    margin: 15px 0 15px 305px;
}
/* Fim cadastro do aluno */

/* Cadatro do professor */
.register-div{
    width: 520px;
    display: flex;
    flex-direction: column;
    /* margin: 20px 0 0 250px ; */
    margin: 0 auto;
}

.register02-div{
    margin-top: 30px;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    
}

.choose-subject{
    border: 1px solid lightgrey;
    border-radius: 20px;
    /* padding-bottom: 20px; */
    margin-bottom: 10px;
}

.form-register{
    margin: 20px 0 0 20px;
}

.form-register-gti{
    margin: 20px 0 20px 20px;
}

.h5-register02{
    margin: 15px 0 15px 215px;
}

.register03-div{
    margin-top: 30px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.form-register03{
    margin: 20px 0 0 60px;
}

.form-register03S{
    margin: 20px 0 20px 60px;
}
/* Fim do cadastro do professor */

/* Cards do index */
.card i{
    font-size: large;
}

.student-card{
    text-align: center;
}

.student-card h5{
    margin-top: 10px;
}

/* Lista dos alunos */
.h5-student-list{ /*h5 das páginas das listas dos alunos*/
    margin: 20px 0px 20px 105px;
}

.font-button{
    font-size: 16px;
    margin: 10px 0 ;
    background-color: #E7E7E7;
    color: #B42828;
    box-shadow: 5px 5px 3px #D4D4D4;
}

.font-button:hover{
    color: #DF7D7D;
}

.div-choose-button{
    max-width: 500px;
    display: flex;
    flex-direction:column;
    margin: 0 auto;
}

.table-responsive{
    text-align: center;
    margin-top: 10px;
}
/* Fim da lista dos alunos */

/* FIM DA MAIN */

/* FOOTER */
.footer-customized{
    top: 610px;
}

footer{
    position: absolute;
    background-color:#B42828; 
    bottom: 0;
    width: 100%; 
    height: 70px;
}

footer p{
    color: white; 
    padding-left: 30px; 
    padding-top: 30px;
}

/* FIM DO FOOTER */